#owl-demo.owl-carousel
  %div    
    .card.large
      .card-image
        %img{:src => "/images/bmx.JPG"}/
        %span.card-title Proyectos varios bbla bla
      .card-content
        %p I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
      
  %div
    .card.large
      .card-image
        %img{:src => "/images/puente.JPG"}/
        %span.card-title Proyectos varios bbla bla
      .card-content
        %p I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
    

  %div
    .card.large
      .card-image
        %img{:src => "/images/feria.JPG"}/
        %span.card-title Proyectos varios bbla bla
      .card-content
        %p I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
   
    
    
%div.container-fluid
  .jumbotron
    %h1 Contactanos
    %p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
    %p
      %a.btn.btn-primary.btn-lg Learn more