#owl-demo.owl-carousel
  %div
    %img{:src => "/images/bmx.JPG",:class => 'lazyOwl'}/
    %p Caption
  %div
    %img{:src => "/images/puente.JPG",:class => 'lazyOwl'}/
    %p Caption

  %div
    %img{:src => "/images/feria.JPG",:class => 'lazyOwl'}/
    %p Caption
    
%div.container-fluid
  .jumbotron
    %h1 Contactanos
    %p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
    %p
      %a.btn.btn-primary.btn-lg Learn more