.row
  .col.s12
    .card
      #owl-demo.owl-carousel.owl-theme
        %div    
          .card-image
            %img{:src => "/images/bmx.JPG"}/
            %span.card-title Proyectos varios bbla bla

        %div
          .card-image
            %img{:src => "/images/puente.JPG"}/
            %span.card-title Proyectos varios bbla bla

        %div
          .card-image
            %img{:src => "/images/feria.JPG"}/
            %span.card-title Proyectos varios bbla bla

.row
  .col.s4
    / Promo Content 1 goes here
  .col.s4
    / Promo Content 2 goes here
  .col.s4
    / Promo Content 3 goes here

    
    
%div.container-fluid
  .jumbotron
    %h1 Contactanos
    %p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
    %p
      %a.btn.btn-primary.btn-lg Learn more